div.App {
  padding: 0 51px;
}

div.App h2 {
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  color: #45852D;
  margin: 36px 0 43px 0;
}

div.App button {
	display: block;
	width: 150px;
	padding: 12px 33px;
	font-weight: bold;
	border: 1px solid #D8D8D8;
	border-radius: 25px;
	color: #363636;
	margin: 60px auto 77px auto;
}

@media (max-width: 600px) {
	div.App h2 {
		font-size: 1.75em;
	}
}