div.Search {
	margin-bottom: 7px;
}

div.Search label {
  font-weight: bold;
}

div.Search input {
  border: 1px solid #D8D8D8;
  border-radius: 25px;
  padding: 15px;
  width: 400px;
  margin-left: 18px;
}

@media (max-width: 600px) {
	div.Search input {
		width: 250px;
	}
}