.search {
	margin-bottom: 7px;
}

.search label {
  font-weight: bold;
}

.search input {
  border: 1px solid #D8D8D8;
  border-radius: 25px;
  padding: 15px;
  width: 400px;
  margin-left: 18px;
  outline: none;
}

@media (max-width: 600px) {
	.search input {
		width: 250px;
	}
}